mixin product


	.product
		.product__img-box
			img(src="static/images/tah.png", alt="example")
		.product__right
			h2 Меркурий ТА-001 с СКЗИ без GPRS модема
			.product__price
				| 30&nbsp;000&nbsp;руб
			p.
				Тахограф Меркурий ТА-001 укомплектованный СКЗИ с GPS/ГЛОНАСС приёмником, акселерометром, интерфейсами CAN, USB, RS-485, аналоговыми и цифровыми входами, входами и выходами для организации голосовой связи и тревожной кнопки, антенной GPS/ГЛОНАСС, маркировка взрывозащиты Ex.
			.product__advantages
				.product__advantages_item
					.product__advantages_icon-box
						img(src="static/images/advantages_1.png", alt="icon")
					.product__advantages_info
						h1.
							Преимущество 1
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum debitis quaerat provident a ea, iure voluptatum illum ex possimus ratione, nesciunt commodi velit laboriosam cum, ipsam quas aliquid atque! Voluptas.
				.product__advantages_item
					.product__advantages_icon-box
						img(src="static/images/advantages_2.png", alt="icon")
					.product__advantages_info
						h1.
							Преимущество 2
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut facilis animi quidem ea esse eligendi atque, odio consectetur quis aspernatur maiores dicta voluptas velit, nisi quod molestiae, ipsum nobis adipisci.
		form.product__form(action="/sendmail.php" method="post")
			.product__form_legend: |Воспользуйтесь специальным предложением
			input(type="text" placeholder="Имя" maxlength="183").product__form_input
			input(type="tel" placeholder="Тел" maxlength="183" pattern="[0-9]{5,10}" required).product__form_input
			button(type="submit").but1
				| Заказать
