.product
	display inline-block
	text-align: justify
	&__img-box
	&__form
		display inline-block
		width 39%
		vertical-align top
	&__right
		padding-left 25px
		display inline-block
		width: 61%
		vertical-align top
		float: right
		h2
			text-align left
			padding-bottom: 29px
		&:after
			content ''
			height 0
			clear: both
	&__img-box
		height 219px
		background-color #fff
		border 1px solid #b8b8b8
		margin-bottom: 25px
	&__img-box, &__advantages_icon-box
		text-align center
		&:before
			content ''
			display inline-block
			vertical-align middle
			height 100%
		img
			display inline-block
			vertical-align middle
			width auto
			height auto
			max-width: 100%;
	&__form
		background-color: #1a4077;
		padding: 33px 28px
		&_legend
			color: #ffffff;
			font-size: 18px; 
			font-weight: 500;
			text-align: center;
		&_input
			font-size: 14px;
			line-height: 40px;
			width: 100%;
			margin-top: 20px;
			padding: 0 12px;
			border: 1px solid #e8e8e8;
			height 40px
		button
			width: 136px;
			height: 40px;
			line-height: 1;
			margin-top: 20px;
			border: 2px solid #5698E3;
			font-size: 16px
			border-radius 0
			float: right
		&:after
			content '.'
			width 100%
			clear: both
			display block
			visibility: hidden
			height 0
	&__price
		color: #5698e3;
		font-size: 40px;
		font-weight: 700;
		text-align: left;
	&__advantages
		&_item
			display block
			padding: 20px 0
		&_icon-box, &_info
			display inline-block
			vertical-align top
		&_icon-box
			width 32px
			height 32px
			background-color #5698e3
			margin-right: 19px
			border-radius 3px
		&_info
			width calc(100% - 32px - 19px)
			h1
				color: #353535;
				font-size: 24px;
				line-height: 25px;
				text-align: left;
				margin 0
				padding-bottom: 16px
				text-transform none


@media screen and (max-width: 640px)
	.product
		&__right
			float: none
			width 100%
		&__img-box
		&__form
			width: 100%
			max-width: 430px
			display block
			margin 0 auto
		&__img-box
			margin-bottom: 20px
