.hits
	width 100%
	display inline-block
	max-width 253px
	&__name
		font-size 18px
		color #656e7a
		font-weight 700
		text-align center
		padding-bottom 7px
	&__item
		border 1px solid #acaaca
		background-color #e8e8e8
		width 100%
		height 165px
	&__links
		display table
		width: 100%
		table-layout fixed
		padding-top 12px
		&_link, &_button
			display table-cell
			font-size 15px

@media screen and (min-width 1086px)
	.hits
		&:not(:nth-child(4n))
			margin-right calc((100% - 253px * 4) / 3)

@media screen and (max-width 1085px) and (min-width: 1024px)
	.hits
		max-width: 235px
		&:not(:nth-child(4n))
			margin-right calc((100% - 235px * 4) / 3)
		&__item
			background-size: contain !important

@media screen and (max-width 1023px) and (min-width: 578px)
	.hits
		margin 10px calc((100% - 253px * 2) / 4)

@media screen and (max-width 577px) and (min-width: 480px)
	.hits
		max-width: 218px
		margin 10px calc((100% - 218px * 2) / 4)
		&__item
			background-size: contain !important
		
@media screen and (max-width 479px)
	.hits
		display block
		margin 0 auto 20px