mixin hits

	-
		var hits = [
			{
				'name' : 'Карта водителя',
				'ImgSrc' : 'hits_1.png'
			},
			{
				'name' : 'Карта предприятия',
				'ImgSrc' : 'hits_2.png'
			},
			{
				'name' : 'Тахограф'
			},
			{
				'name' : 'Карта предприятия'
			}
		]

	each value in hits
		.hits
			.hits__name= value.name
			if (value.ImgSrc)
				.hits__item(style="background: url('static/images/#{value.ImgSrc}') no-repeat center")
			else
				.hits__item
			.hits__links
				a(href="#" title="Подробнее").hits__links_link
					| Подробнее
				a(href="#" title="Заказать").hits__links_button.but1
					| заказать