include ../blocks/**/*.jade
extends ../blocks/page/page.jade

block body
	header
		+header
	main.wrapper
		+equipment
		.main__item
			h2 
				| Хиты продаж
			.main__item_group
				+hits
		.main__item
			h2
				| Партнеры
			.main__item_group.main__item_group--flex
				- var x = 0
				while x < 6
					img(src="static/images/partners_#{++x}.png", alt="parners_#{x}").partners
	footer
		+bg2
		+footer


//- append scripts
