include ../blocks/**/*.jade
extends ../blocks/page/page.jade

block body
	header
		+header
	main
		+slider
		+index-content
	footer
		+bg2
		+footer


append scripts
	script(src='static/js/jquery-2.0.3.min.js')
	script(src='static/js/bootstrap.min.js')
	script(src='static/js/sstu_script.js')
	script(src='static/js/times.js')
	script(src='static/js/jquery.circliful.min.js')
