include ../blocks/**/*.jade
extends ../blocks/page/page.jade

block body
	header
		+header
	main.wrapper
		.main__item
			h1.
				Cтраница товара
		.main__item
			+product
		.main__item
			h2
				| Меркурий ТА-001 с СКЗИ без GPRS модема
			p.
				Устройство контроля за режимами труда и отдыха водителей (тахограф) Меркурий ТА-001, которое обеспечивает непрерывную, не корректируемую регистрацию информации о скорости и маршруте движения ТС и предназначенное для установки на колёсные транспортные средства категории М2, М3, N2 и N3 (далее –ТС). Выгрузка данных из тахографа осуществляется с помощью USB накопителя, калибровка осуществляется без применения специальных программаторов. В тахографе Меркурий ТА-001 реализованы следующие дополнительные возможности: навигационный приемник ГЛОНАСС/GPS, 3-D сенсор движения, интерфейсы USB, CAN, RS-232, RS-485, аналоговые и цифровые выходы, а также радиотелефонная связь стандарта GSM-900/1800, имеется возможность передачи информации о местоположении, скорости движения, расстоянии и пройденному пути транспортным средством, расход топлива и т.д. на сервер мониторинговой компании, диспетчерской службы или автоматизированного центра контроля и надзора.
			p.
				Меркурий ТА-001 позволяет совместить функции тахографического контроля с системой ГЛОНАСС/GPS мониторинга, что экономит денежные средства владельцев ТС на установке специализированного навигационного оборудования. Реализована голосовая связь с диспетчерской. Тахограф сертифицирован на соответствие требованиям технического регламента о безопасности колесных транспортных средств (утв. Постановлением Правительства РФ № 720 от 10 сентября 2009 г.), соответствует основным положениям Приказа Минтранса РФ от 31 июля 2012 г. N 285, соответствует требованиям Приказа Минтранса России от 13 февраля 2013 года № 36, сертифицирован для установки на ТС осуществляющие перевозки опасных грузов, имеет встроенное средство криптографической защиты информации (СКЗИ) в виде навигационного криптографического модуля НКМ.
		.main__item
			h2
				| С этим товаром также покупают:
			+slider('products')
	footer
		+bg2
		+footer


//- append scripts
