.main
	display: inline-block
	width: 100%
	&__item
		padding: 33px 0
		font-size 0
		width 95%
		margin 0 auto
		h1
			text-align: center;
			font-size: 39px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: -2px
		p
			font-size: 14px
			color #656e7a
			line-height: 25px
		h2
			margin 0
			text-align center
			padding-bottom: 40px
			text-align center
			color:  #1d2e47;
			font-size 24px
			text-transform uppercase
			font-weight 700
		&_group
			width 100%
			&--flex
				display inline-flex
				flex-wrap: wrap
				justify-content: space-around
				align-items: center;

@media screen and (max-width: 640px)
	.main
		&__item
			&_flex--partners
				display block