mixin footer

	.wrapper
		.row.botmenus
			.col-md-3.col-sm-3.botmenusitem
				h2 Услуги
				ul
					li
						a(href='#', title='') Установка тахографов
					li
						a(href='#', title='') Ремонт автоэлектрики
					li
						a(href='#', title='') Установка оборудования
					li
						a(href='#', title='') Перевод обслуживания
					li
						a(href='#', title='') Внедрение программного обеспечения
					li
						a(href='#', title='') Интеграция ПО
					li
						a(href='#', title='') Доработка программного обеспечения
					li
						a(href='#', title='') Разработка нового ПО
			.col-md-3.col-sm-3.botmenusitem
				h2 Оборудование
				ul
					li
						a(href='#', title='') Тахографы
					li
						a(href='#', title='') Бортовые терминалы
					li
						a(href='#', title='') Доп. оборудование
					li
						a(href='#', title='')  Датчики расхода топлива
					li
						a(href='#', title='') Датчики уровня топлива
					li
						a(href='#', title='') Дополнительные датчики
			.col-md-3.col-sm-3.botmenusitem
				h2 ООО «Скайтек»
				p 450078, Башкортостан, Уфа, ул. Владивостокская 3А
				br
				a(href='#') info@navtech-rb.ru
				br
				a(href='#') support@navtech-rb.ru
			.col-md-3.col-sm-3.botmenusitem
				h2 Телефоны
				p +7 (347) 299-03-43
				a.but1(href='#', title='заказать') Заказать звонок
				br
				b  Отдел продаж:
				br
				| +7 (347) 299-03-43
				br
				b Тех.поддержка:
				br
				| 8 (800) 700-01-73
	.copyright
		| © navtech-rb.ru. Все права защищены 2013-2016