mixin header

	.wrapper
		.header.raw.col-md-12
			.logo.col-md-2.col-sm-2.col-xs-3
				a(href='#', title='На главную')
					img(alt='тахографы уфа', title='купить тахограф', src='static/images/logo.png')
			.slogan.col-md-3.col-sm-4.col-xs-3
				p.t25 Тахографы в Уфе для юридических и физических лиц
			.timen.t25.col-md-3.col-sm-4.col-xs-3
				.curtime
				span.time
					| 9:00
				.longa
					span.longa-fill
				span.time
					| 18:00
				.clr
				.probki
					a(href='#', title='') Проехать без пробок
			.ssilki.col-md-2.col-sm-3.col-xs-3.t25
				.formochki
					.forma1
						a(href='#', title='') Задать вопрос
					.forma2
						a(href='#', title='') Заказать звонок
			.phones.t25.col-md-2.col-sm-3.col-xs-4
				p
					b +7 (347) 299-03-43
					|  Уфа
				p
					b +7 (978) 982-78-03
					|  Крым
		.menu-wrapper.default
			ul.menu
				li
					a(href='ya') О компании
				li
					a(href='#') Услуги
				li
					a(href='#') Оборудование
				li
					a(href='#') отраслевые решения
				li
					a(href='#') новости
				li
					a(href='#') статьи
				li
					a(href='#') законодательство
				li
					a(href='#') Контакты
		.touch-menu
			ul
				li
					a(href='ya') О компании
				li
					a(href='#') Услуги
				li
					a(href='#') Оборудование
				li
					a(href='#') отраслевые решения
				li
					a(href='#') новости
				li
					a(href='#') статьи
				li
					a(href='#') законодательство
				li
					a(href='#') Контакты
		.clr