mixin index-content

	.resh.container.col-md-12
		h2 Готовые решения
		.row
			.item-resh.col-md-4
				.plah
					h3
						| ГЛОНАСС по приказу 285
						br
						br
					.prc 20.000  ₽
				ul
					li.good Тахограф меркурий та01
					li.good Датчик топлива
					li.bad Установка
					li.bad Обслуживание
					li.bad Карта водителя
					li.bad Карта предприятия
				.container.row.more
					.col-md-6.col-sm-6.col-xs-6
						a(href='#', title='more') Подробнее
					.col-md-6.col-sm-6.col-xs-6
						a.but1(href='#', title='заказать') Заказать
			.item-resh.item-resh-act.col-md-4
				.plah
					h3
						| Глонасс/GPRS
						br
						| с контролем топлива
					.prc 20.000  ₽
				ul
					li.good Тахограф меркурий та01
					li.good Датчик топлива
					li.good Установка
					li.good Обслуживание
					li.bad Карта водителя
					li.bad Карта предприятия
				.container.row.more
					.col-md-6.col-sm-6.col-xs-6
						a(href='#', title='more') Подробнее
					.col-md-6.col-sm-6.col-xs-6
						a.but1(href='#', title='заказать') Заказать
			.item-resh.col-md-4
				.plah
					h3
						| ГЛОНАСС по Приказу 285
						br
						|  ГЛОНАСС с ДУТ
					.prc 20.000  ₽
				ul
					li.good Тахограф меркурий та01
					li.good Датчик топлива
					li.good Установка
					li.good Обслуживание
					li.good Карта водителя
					li.good Карта предприятия
				.container.row.more
					.col-md-6.col-sm-6.col-xs-6
						a(href='#', title='more') Подробнее
					.col-md-6.col-sm-6.col-xs-6
						a.but1(href='#', title='заказать') Заказать
		.clr
		.textik.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
			p
				| Чтобы узнать стоимость установки тахографа на ваш транспорт, заполните эту форму.
				| Мы перезвоним через 1 минуту и рассчитаем стоимость. Можно купить в рассрочку без процентов и переплат.
	.formas1.container.row.col-md-12.col-sm-12.col-xs-12
		.taho.col-md-3
		.col-md-9
			h3
				| Заманчивое предложение вы не сможите отказаться, купите тахограф
			form#callbackForm11(action='/sendmail.php', method='post')
				.col-md-5.col-md-offset-0.col-sm-5.col-sm-offset-0.col-xs-8.col-xs-offset-2.nopad
					input#name(type='text', maxlength='183', name='name', placeholder='Ваше имя', required='')
				.col-md-5.col-md-offset-0.col-sm-5.col-sm-offset-0.col-xs-8.col-xs-offset-2.nopad
					input#phone(type='tel', maxlength='183', name='phone', placeholder='Телефон', pattern='[0-9]{5,10}', required='')
				.col-md-2.col-md-offset-0.col-sm-2.col-sm-offset-0.col-xs-8.col-xs-offset-2.nopad
					button.but1(type='submit') Заказать
	.preim.container.col-md-12
		h2 Преимущества нашей компании
		.textik.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
			p
				| Компания «Skytech» занимается продажей и установкой тахографов, систем мониторинга транспорта (GPS/ГЛОНАСС оборудования, датчиков уровня топлива, дополнительного оборудования)
				| и персональных трекеров.
		.clr
		.row
			.col-md-5.nik
				.cup
					img(alt='', title='', src='static/images/cup.png')
				.wrn
					h3 Остерегайтей мошенников
					p
						| Тахограф, установленный организацией, не имеющей лицензии ФСБ, сертификата ФБУ "Росавтотранс"
						| и метки Минтранса РФ только добавит Вам проблем с правоохранительными органами!
			.col-md-6.col-md-offset-1.preim-items
				.preim-item.row
					.num.col-md-1.col-sm-1.col-xs-1 I
					.preim-item-text.col-md-11.col-sm-11.col-xs-10
						h3 Уникальный опыт
						p
							| Наши сотрудники имеют колоссальный опыт внедрения GPS мониторинга, благодаря которому мы можем гарантировать высокое качество
				.preim-item.row
					.num.col-md-1.col-sm-1.col-xs-1 II
					.preim-item-text.col-md-11.col-sm-11.col-xs-10
						h3 Сервисный центр в Уфе
						p
							| Собственный сервисный центр позволяет нам проводить весь комплекс работ по диагностике и ремонту автоэлектрики в грузовых автомобилях.
							| Кроме того мы предлагаем услугу по выезду специалиста на объект клиента для проведения работ.
				.preim-item.row
					.num.col-md-1.col-sm-1.col-xs-1 III
					.preim-item-text.col-md-11.col-sm-11.col-xs-10
						h3 Сертифицированная мастерская
						p
							| Оснащенный современным оборудованием цех позволяет нам оперативно оказывать все услуги по установке Глонасс и обслуживанию тахографов
							| в Республике Башкортостан.
				.preim-item.row
					.num.col-md-1.col-sm-1.col-xs-1 IV
					.preim-item-text.col-md-11.col-sm-11.col-xs-10
						h3 Гарантия на оборудование и работы
						p
							| Приобретаемые у нас системы мониторинга транспорта, проходят настройку и активацию с использованием наших карт
				.preim-item.row
					.num.col-md-1.col-sm-1.col-xs-1 V
					.preim-item-text.col-md-11.col-sm-11.col-xs-10
						h3 Работа по всей России
						p
							| Наш офис располагается в городе Уфа, но при этом мы осуществляем установку и настройку оборудования на всей территории страны.
				.preim-item.row
					.num.col-md-1.col-sm-1.col-xs-1 VI
					.preim-item-text.col-md-11.col-sm-11.col-xs-10
						h3 Только качественное и надежное оборудование
						p
							| Мы сотрудничаем с известными поставщиками и производителями программного обеспечения, а потому можем гарантировать бесперебойную работу устанавливаемых систем GPS мониторинга.
				.wrn2
					h3 Остерегайтесь мошенников
					p
						| Тахограф, установленный организацией, не имеющей лицензии ФСБ, сертификата ФБУ "Росавтотранс"
						| и метки Минтранса РФ только добавит Вам проблем с правоохранительными органами!
	#bg1.bg
		.wrapper
			.container.col-md-12
				h2 Наша компания в цифрах
			.row
				.col-md-3
					.circle-container
						.circlestat(data-dimension='200', data-text='3 года', data-width='10', data-fontsize='42', data-percent='90', data-fgcolor='#6189ef', data-bgcolor='#eee', data-fill='#0f1e35')
					h3 На рынке установки систем мониторинга транспорта
				.col-md-3
					.circle-container
						.circlestat(data-dimension='200', data-text='341', data-width='10', data-fontsize='48', data-percent='80', data-fgcolor='#6189ef', data-bgcolor='#eee', data-fill='#0f1e35')
					h3 Довольный клиент за прошлый год 
				.col-md-3
					.circle-container
						.circlestat(data-dimension='200', data-text='1.7 млн руб', data-width='10', data-fontsize='26', data-percent='70', data-fgcolor='#6189ef', data-bgcolor='#eee', data-fill='#0f1e35')
					h3 Наши клиенты экономят 1,7 млн руб в месяц
				.col-md-3
					.circle-container
						.circlestat(data-dimension='200', data-text='1823+', data-width='10', data-fontsize='48', data-percent='85', data-fgcolor='#6189ef', data-bgcolor='#eee', data-fill='#0f1e35')
					h3 Единицы техники используют наши системы мониторинга
	.wrapper
		.container.col-md-12.docu
			h2 Документация
			.row
				.doc-item.col-md-6.col-sm-12.col-xs-12
					.doc-img
						img(alt='', title='', src='static/images/doc.png')
					.doc-txt
						a(href='#')
							| Приказ Минтранса России №273 от 21.08.2013 г. «Об утверждении Порядка оснащения транспортных средств тахографами»
				.doc-item.col-md-6.col-sm-12.col-xs-12
					.doc-img
						img(alt='', title='', src='static/images/doc.png')
					.doc-txt
						a(href='#')
							| Приказ Минтранса России №470 от 17.12.2013 г. «О внесении изменений в приказ Министерства транспорта Российской Федерации от 13 февраля 2013 г. N36»
				.doc-item.col-md-6.col-sm-12.col-xs-12
					.doc-img
						img(alt='', title='', src='static/images/doc.png')
					.doc-txt
						a(href='#')
							| Приказ 36 от 13.02.2013 Минтранса РФ «Об утверждении требований к тахографам, устанавливаемым на транспортные средства, категорий и видов транспортных средств, оснащаемых тахографами, правил использования, обслуживания и контроля работы тахографов, установленных на транспортные средства»
				.doc-item.col-md-6.col-sm-12.col-xs-12
					.doc-img
						img(alt='', title='', src='static/images/doc.png')
					.doc-txt
						a(href='#')
							| Приказ Минтранса России №470 от 17.12.2013 г. «О внесении изменений в приказ Министерства транспорта Российской Федерации от 13 февраля 2013 г. N 36»
			.col-md-12.col-sm-12.col-xs-12.row.warn11
				.col-md-1.col-sm-2.col-xs-2
					.vznak !
				.col-md-11.col-sm-10.col-xs-10.warn-11-txt
					| «Отсутствие или неудовлетворительное состояние тахографа на коммерческих транспортных средствах карается штрафами: От 1000 до 3000 руб для физических лиц (водителей); От 5000 до 10000 руб.для юридических лиц (организаций)»
	.bg
		.wrapper
			.container.col-md-12
				h2 Наши лица
				.row.liza
					.col-md-3.col-sm-6.col-xs-6.lizo-item
						.lizo-img
							img(alt='', title='', src='static/images/l1.png')
						.lizo-txt
							h4
								| Гареев Булат
							ul
								li старший менеджер
								li
									a(href='mailtoeee@ff.rt') bulat@tahogaf.ru
								li +7 917 111-222-33
					.col-md-3.col-md-offset-1.col-sm-6.col-xs-6.lizo-item
						.lizo-img
							img(alt='', title='', src='static/images/l1.png')
						.lizo-txt
							h4
								| Гареев Булат
							ul
								li старший менеджер
								li
									a(href='mailtoeee@ff.rt') bulat@tahogaf.ru
								li +7 917 111-222-33
					.col-md-3.col-md-offset-1.col-sm-6.col-xs-6.lizo-item
						.lizo-img
							img(alt='', title='', src='static/images/l1.png')
						.lizo-txt
							h4
								| Гареев Булат
							ul
								li старший менеджер
								li
									a(href='mailtoeee@ff.rt') bulat@tahogaf.ru
								li +7 917 111-222-33
					.col-md-3.col-sm-6.col-xs-6.lizo-item
						.lizo-img
							img(alt='', title='', src='static/images/l1.png')
						.lizo-txt
							h4
								| Гареев Булат
							ul
								li старший менеджер
								li
									a(href='mailtoeee@ff.rt') bulat@tahogaf.ru
								li +7 917 111-222-33
					.col-md-3.col-md-offset-1.col-sm-6.col-xs-6.lizo-item
						.lizo-img
							img(alt='', title='', src='static/images/l1.png')
						.lizo-txt
							h4
								| Гареев Булат
							ul
								li старший менеджер
								li
									a(href='mailtoeee@ff.rt') bulat@tahogaf.ru
								li +7 917 111-222-33
					.col-md-3.col-md-offset-1.col-sm-6.col-xs-6.lizo-item
						.lizo-img
							img(alt='', title='', src='static/images/l1.png')
						.lizo-txt
							h4
								| Гареев Булат
							ul
								li старший менеджер
								li
									a(href='mailtoeee@ff.rt') bulat@tahogaf.ru
								li +7 917 111-222-33
			.formas1.container.row.col-md-12.col-sm-12.col-xs-12
				.taho.col-md-3
				.col-md-9
					h3
						| Заманчивое предложение вы не сможите отказаться, купите тахограф
					form#callbackForm11(action='/sendmail.php', method='post')
						.col-md-5.col-md-offset-0.col-sm-5.col-sm-offset-0.col-xs-8.col-xs-offset-2.nopad
							input#name(type='text', maxlength='183', name='name', placeholder='Ваше имя', required='')
						.col-md-5.col-md-offset-0.col-sm-5.col-sm-offset-0.col-xs-8.col-xs-offset-2.nopad
							input#phone(type='tel', maxlength='183', name='phone', placeholder='Телефон', pattern='[0-9]{5,10}', required='')
						.col-md-2.col-md-offset-0.col-sm-2.col-sm-offset-0.col-xs-8.col-xs-offset-2.nopad
							button.but1(type='submit') Заказать
	.wrapper
		.container.newsandarticles.row
			.col-md-8.col-sm-12.col-xs-12.news
				h2 Новости
				ul.news-list
					li.news-item
						h5
							a(href='#', title='') Системы мониторинга транспорта
						p
							| Хотите повысить качество услуг пассажирских или грузовых перевозок? Планируете вести учет работы водителей?
							| Ищете возможность эффективной организации грузовых или пассажирских перевозок? 
							a(href='#', title='') Далее...
						span 25.01.16
					li.news-item
						h5
							a(href='#', title='') Системы мониторинга транспорта
						p
							| Хотите повысить качество услуг пассажирских или грузовых перевозок? Планируете вести учет работы водителей?
							| Ищете возможность эффективной организации грузовых или пассажирских перевозок? 
							a(href='#', title='') Далее...
						span 25.01.16
					li.news-item
						h5
							a(href='#', title='') Системы мониторинга транспорта
						p
							| Хотите повысить качество услуг пассажирских или грузовых перевозок? Планируете вести учет работы водителей?
							| Ищете возможность эффективной организации грузовых или пассажирских перевозок? 
							a(href='#', title='') Далее...
						span 25.01.16
					li.news-item
						h5
							a(href='#', title='') Системы мониторинга транспорта
						p
							| Хотите повысить качество услуг пассажирских или грузовых перевозок? Планируете вести учет работы водителей?
							| Ищете возможность эффективной организации грузовых или пассажирских перевозок? 
							a(href='#', title='') Далее...
						span 25.01.16
			.col-md-4.col-sm-12.col-xs-12.articles
				h2 Статьи
				ul.news-list
					li.news-item
						h5
							a(href='#', title='') Системы мониторинга транспорта
						p
							| Хотите повысить качество услуг пассажирских или грузовых перевозок? Планируете вести учет работы водителей?
							| Ищете возможность эффективной организации грузовых или пассажирских перевозок? 
							a(href='#', title='') Далее...
					li.news-item
						h5
							a(href='#', title='') Системы мониторинга транспорта
						p
							| Хотите повысить качество услуг пассажирских или грузовых перевозок? Планируете вести учет работы водителей?
							| Ищете возможность эффективной организации грузовых или пассажирских перевозок? 
							a(href='#', title='') Далее...
		.clr
		.maintxt.container
			h1 О компании
			.leftsidetxt
				h3 Установка GPS, Глонасс, систем мониторинга транспорта
				p
					| Навигационные системы мониторинга транспорта Глонасс в Уфе сегодня очень популярны.
					| Систему GPS мониторинга устанавливают в автомобили компании-грузоперевозчики и фирмы,
					| занимающиеся перевозкой людей и все те, у кого в работе задействован транспорт,
					| спецтехника и сельскохозяйственная техника. «Скайтек! – стремительно развивающаяся компания,
					| зарекомендовавшая себя лучшими специалистами по монтажу, настройке и обслуживанию систем GPS
					| и Глонасс в Уфе и соседних регионах. Что мы предлагаем?
				h3 У нас можно приобрести:
				ul
					li Тахографы
					li Карты водителя
					li Датчики уровня и расхода топлива, температурные датчики
					li Бортовые терминалы систем GPS, Глонасс
				h3 Кроме того мы оказываем ряд услуг, а именно:
				ul
					li Установку Глонасс в Уфе и других регионах РФ.
					li   Монтаж датчиков и дополнительного оборудования.
					li   Настройку GPS, Глонасс и активацию оборудования.
					li  Диагностику и ремонт системы Глонасс для мониторинга транспорта.
					li  Гарантийное и постгарантийное обслуживание приборов.
			.rightsidetxt
				h3 Почему нас выбирают?
				p
					| Уникальный опыт. Наши сотрудники имеют колоссальный опыт внедрения GPS мониторинга, благодаря которому мы можем гарантировать высокое качество предоставляемых услуг.
				p
					| Сервисный центр в Уфе. Собственный сервисный центр позволяет нам проводить весь комплекс работ по диагностике и ремонту автоэлектрики в грузовых автомобилях. Кроме того мы предлагаем услугу по выезду специалиста на объект клиента для проведения работ.
				p
					| Сертифицированная мастерская. Оснащенный современным оборудованием цех позволяет нам оперативно оказывать все услуги по установке Глонасс и обслуживанию тахографов в Республике Башкортостан.
				p
					| Гарантия на оборудование и работы. Только в нашей мастерской можно получить гарантии не только на приобретаемое оборудование, но и на весь спектр услуг.
					| Настройка тахографов, датчиков. Приобретаемые у нас системы мониторинга транспорта, проходят настройку и активацию с использованием наших карт.
					| Работа по всей России. Наш офис располагается в городе Уфа, но при этом мы осуществляем установку и настройку оборудования на всей территории страны.
					| Только качественное и надежное оборудование. Мы сотрудничаем с известными поставщиками и производителями программного обеспечения, а потому можем гарантировать бесперебойную работу устанавливаемых систем GPS мониторинга.
				p
					| Вам необходим постоянный Глонасс мониторинг транспорта? Ищете компанию, в которой не только реализуется оборудование, но и выполняется установка Глонасс, его настройка и активация? Позвоните нам и сделайте заказ – 299-03-43!
	.bg
		.wrapper
			.container.col-md-12
				h2 Схема работы
				.row.shem
					.col15-md-3.col15-md-offset-0.col15-sm-15.shem-item
						img(alt='', title='', src='static/images/s1.png')
						span Заявка
					.col15-md-3.col15-md-offset-0.col15-sm-15.shem-item
						img(alt='', title='', src='static/images/s2.png')
						span Подбор оптимального решения
					.col15-md-3.col15-md-offset-0.col15-sm-15.shem-item
						img(alt='', title='', src='static/images/s3.png')
						span Заключение договора
					.col15-md-3.col15-md-offset-0.col15-sm-15.shem-item
						img(alt='', title='', src='static/images/s4.png')
						span Установка оборудования
					.col15-md-3.col15-md-offset-0.col15-sm-15.shem-item
						img(alt='', title='', src='static/images/s5.png')
						span Тотальный контроль над желаемым транспортом
	.mapa
		h2  Карта проезда
		div
			.opismap
				h2 Контакты
				p
					| ООО «Скайтек»
					br
					| 450078, Россия, Башкортостан, Уфа, ул. Владивостокская, 3А
					br
					| +7 (347) 299-03-43
				a.but1(href='#', title='заказать') Заказать звонок
			script(type='text/javascript', charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=eZmcgSeGOx_xLrfUtIp9K8ugufLmbzpB&width=100%&height=532&lang=ru_RU&sourceType=constructor')