mixin bg2

	.bg2
		.wrapper
			.container.col-md-12
				.formas2
					h2 Не тратьте время!
					h5 получите бесплатную консультацию по телефону! Звонок за наш счет
					form#callbackForm11(action='/sendmail.php', method='post')
						.col-md-3.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.nopad
							input#name(type='text', maxlength='183', name='name', placeholder='Ваше имя', required='')
						.col-md-3.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.nopad
							input#phone(type='tel', maxlength='183', name='phone', placeholder='Телефон', pattern='[0-9]{5,10}', required='')
						.col-md-2.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.nopad
							button.but1(type='submit') Получить консультацию