.solutions
	display block
	font-size 0
	text-align center
	padding: 50px 0 154px
	margin-top: 30px
	&__title
		text-align center
		font-size: 24px
		font-weight 700
		text-transform uppercase
		color: #fff
		margin 0
	&__item-list
		display inline-block
		width 93%
		text-align: left
		padding-top: 50px
	&__item
		display inline-block
		background-color #fff
		position relative
		text-align center
		background-size: cover
		background-repeat: no-repeat
		background-position top center
		&_name
			position: absolute
			font-weight 700
			text-align center
			color:  #656e7a;
			font-size: 12px
			bottom 12px
			left: 0
			right 0

@media screen and (min-width 1110px)
	.solutions
		&__item
			width: 250px;
			height: 165px;
			&:not(:nth-child(4n))
				margin-right calc((100% - 250px * 4) / 3)
			&:nth-child(n+5)
				margin-top calc((100% - 250px * 4) / 3)

@media screen and (max-width 1109px) and (min-width: 910px)
	.solutions
		&__item
			width: 275px;
			height: 182px;
			&:not(:nth-child(3n))
				margin-right calc((100% - 275px * 3) / 2)
			&:nth-child(n+4)
				margin-top calc((100% - 275px * 3) / 2)
			&_name
				font-size 14px

@media screen and (max-width 909px) and (min-width: 748px)
	.solutions
		&__item
			width: 225px;
			height: 149px;
			&:not(:nth-child(3n))
				margin-right calc((100% - 225px * 3) / 2)
			&:nth-child(n+4)
				margin-top calc((100% - 225px * 3) / 2)

@media screen and (max-width 747px) and (min-width: 603px)
	.solutions
		&__item
			width: 275px;
			height: 182px;
			&:not(:nth-child(2n))
				margin-right calc((100% - 275px * 2) / 1)
			&:nth-child(n+3)
				margin-top calc((100% - 275px * 2) / 1)
			&_name
				font-size 14px

@media screen and (max-width 602px) and (min-width: 546px)
	.solutions
		&__item
			width: 250px;
			height: 165px;
			&:not(:nth-child(2n))
				margin-right calc((100% - 250px * 2) / 1)
			&:nth-child(n+3)
				margin-top calc((100% - 250px * 2) / 1)
			&_name
				font-size 14px

@media screen and (max-width 545px) and (min-width: 491px)
	.solutions
		&__item
			width: 225px;
			height: 149px;
			&:not(:nth-child(2n))
				margin-right calc((100% - 225px * 2) / 1)
			&:nth-child(n+3)
				margin-top calc((100% - 225px * 2) / 1)
			&_name
				font-size 12px

@media screen and (max-width 490px)
	.solutions
		padding: 50px 0
		&__item
			display block
			width: 250px;
			height: 165px;
			margin 10px auto
			&_name
				font-size 14px