mixin solutions


	.solutions.wrapper.bg
		.solutions__title
			| Отраслевые решения
		.solutions__item-list
			each value in solutionsItemJSON
				.solutions__item(style="background-image: url('./static/images/otrasl_#{value.imgName}.png')")
					.solutions__item_name
						= value.text