mixin slider(sliderContents)

	.slider
		#carousel-example-generic.carousel.slide(data-ride='carousel')
			.carousel-inner
				case sliderContents
					when 'products'
						.item.active
							+hits
						.item
							+hits
					when default
						.item.active
							img(src='static/images/ban1.jpg', alt='', title='')
						.item
							img(src='static/images/ban2.jpg', alt='', title='')
			ol.carousel-indicators
				li.active(data-target='#carousel-example-generic', data-slide-to='0')
				li(data-target='#carousel-example-generic', data-slide-to='1')
	.clr