.equipment
	display block
	font-size 0
	padding: 53px 0 0
	margin-top 30px
	&__list-item
		width 95%
		display block
		margin 0 auto
	&__item
		display inline-block
		vertical-align top
		width: calc(100% / 3)
		padding-bottom: 76px
		padding-right: 44px
		&_title
			font-size: 22px
			color #fff
			line-height 25px
			padding-left: 68px
			position relative
			min-height: 56px
			&:before
				content ''
				position absolute
				left: 0
				top: 0
				width: 56px
				height: 56px
				border-radius 5px
				background-color:  #5698e3;
				background-repeat: no-repeat
				background-position center
			for n in (1..6)
				&--{n}
					&:before
						background-image url('../images/equipment_'+n+'.png')
		&_list
			list-style-type none
			padding 0
			margin 0
			line-height 25px
			padding-top: 17px
			li a
				display block
				font-size: 13px
				color #fff
				text-decoration none
				&:hover
					color: #fff
					text-decoration: underline

@media screen and (max-width 1024px)
	.equipment
		&__item
			width: calc(100% / 2)

@media screen and (max-width 768px)
	.equipment
		&__title
			font-size: 18px

@media screen and (max-width 640px)
	.equipment
		&__item
			display block
			width 75%
			margin: 0 auto
			padding-bottom: 30px
			padding-right 0

@media screen and (max-width 480px)
	.equipment
		&__item
			width 95%
