mixin equipment

	.equipment.bg
		.equipment__list-item
			.equipment__item
				.equipment__item_title.equipment__item_title--1
					| Купить тахографы, цены и установка в Уфе
				ul.equipment__item_list
					li: a(href="#") Меркурий ТА-001 с СКЗИ без GPRS модема
					li: a(href="#") Тахограф Меркурий ТА-001 с СКЗИ и GPRS модемом
					li: a(href="#") Тахограф Штрих-Тахо RUS с СКЗИ без GPRS модема
					li: a(href="#") Тахограф Штрих-Тахо RUS с СКЗИ и GPRS модемом
					li: a(href="#") Тахограф АТОЛ Drive 5
					li: a(href="#") Карта водителя
					li: a(href="#") Карта предприятия
			.equipment__item
				.equipment__item_title.equipment__item_title--2
					| Бортовые терминалы, gps трекеры автомобильные в Уфе
				ul.equipment__item_list
					li: a(href="#") Терминал ASC-1
					li: a(href="#") Терминал ASC-3 ГЛОНАСС/GPS
					li: a(href="#") Терминал ASC-7G ГЛОНАСС/GPS 3G
					li: a(href="#") Терминал ASC-7S ГЛОНАСС/GPS
					li: a(href="#") Терминал GalileoSky GPS/ГЛОНАСС v5.0
			.equipment__item
				.equipment__item_title.equipment__item_title--3
					| Дополнительное оборудование
				ul.equipment__item_list
					li: a(href="#") Сетевой фильтр СФ-02
					li: a(href="#") Комплект громкой связи
					li: a(href="#") Преобразователь сигнала CAN шины
					li: a(href="#") Тревожная кнопка
					li: a(href="#") Цифровая фотокамера GalileoSky v3.0.3
			.equipment__item
				.equipment__item_title.equipment__item_title--4
					| Контроль топлива.
					br
					| Датчики расхода топлива в Уфе
				ul.equipment__item_list
					li: a(href="#") Датчик расхода топлива OVAL LSF-45
					li: a(href="#") Датчик расхода топлива СРТ-8
			.equipment__item
				.equipment__item_title.equipment__item_title--5
					| Купить датчик уровня топлива в Уфе
				ul.equipment__item_list
					li: a(href="#")| ДУТ Omnicomm LLS 20160 700 мм (цифровой)
					li: a(href="#")| ДУТ Omnicomm LLS-AF 20310 700мм (аналоговый)
			.equipment__item
				.equipment__item_title.equipment__item_title--6
					| Дополнительные датчики
				ul.equipment__item_list
					li: a(href="#") Датчик контроля температуры
					li: a(href="#") Датчик открывания/закрывания дверей
