doctype html
html
	head
		title Скайтек- тахографы в уфе
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic,100&subset=latin,cyrillic-ext,latin-ext,cyrillic', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='static/css/reset.css')
		link(rel='stylesheet', href='static/css/bootstrap.css')
		link(rel='stylesheet', href='static/css/main.css')
		link(rel='stylesheet', href='static/css/style.css')
		link(rel='stylesheet', href='static/css/slicknav.css')
		link(rel='stylesheet', href='static/css/animate.css')
		link(rel='stylesheet', href='static/css/jquery.circliful.css')
		link(rel='stylesheet', href='static/css/bootstrap_col_15.css')

	body
		a.left_swap(href='#')
		block body

		block scripts

